---
layout: base.njk
title: 5-inch HD racer
imageBase: "/5_inch_hd_pyramid_drone"
buildKey: 5inch_hd
permalink: /5-inch-hd/
---

<div class="drone-tabs">
{% set droneTabBase = "/5-inch-hd/" %}
{% set activeTab = "sample" %}
{% set droneTabsStiffness = false %}
{% include "drone-tabs.njk" %}
{% include "sample-build.njk" %}
</div>
