---
layout: base.njk
title: 5-inch racer
contentSource: 5_inch_pyramid_drone/CONFIGURATION.md
imageBase: "/5_inch_pyramid_drone"
permalink: /5-inch/configuration/
---

<div class="drone-tabs">
{% set droneTabBase = "/5-inch/" %}
{% set activeTab = "config" %}
{% set droneTabsStiffness = false %}
{% include "drone-tabs.njk" %}
{% contentFromMarkdown contentSource, imageBase %}
</div>
