---
layout: base.njk
title: 5-inch HD racer
contentSource: 5_inch_hd_pyramid_drone/README.md
imageBase: "/5_inch_hd_pyramid_drone"
buildKey: 5inch_hd
permalink: /5-inch-hd/
---

<div class="drone-tabs">
  <div class="tab-labels">
    <button class="active" data-tab="build">Build Guide</button>
    <button data-tab="sample">Sample Build</button>
  </div>
  <div class="tab-panel active" data-panel="build">
    {% contentFromMarkdown contentSource, imageBase %}
  </div>
  <div class="tab-panel" data-panel="sample">
    {% include "sample-build.njk" %}
  </div>
</div>
