---
layout: base.njk
title: 7-inch cruiser
contentSource: 7_inch_pyramid_drone/README.md
imageBase: "/7_inch_pyramid_drone"
permalink: /7-inch/
---

{% contentFromMarkdown contentSource, imageBase %}
