---
layout: base.njk
title: Stiffness comparison
contentSource: 7_inch_pyramid_drone/STIFFNESS_COMPARISON.md
imageBase: "/7_inch_pyramid_drone"
permalink: /stiffness/
---

{% contentFromMarkdown contentSource, imageBase %}
